* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(9, 210, 9);
  --error-color: rgb(194, 35, 35);
  --font1: 'Roboto', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 235, 235);
}

#carouselExampleIndicators {
  /* background-image: url(./img/sliderImg/Unlovable-Replacement-Mobile-Banner2.2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(14, 155, 33, 0.171);
}

.main-container {
  min-height: 100vh;
  /* padding:40px 0px; */

}

.home-container {
  min-height: 100vh;
  /* padding:40px 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding-top: 20px;
}

.pd-y-40 {
  padding: 40px;
}

.main-btn {
  padding: 10px 20px;
  color: white;
  background-color: var(--main-color);
}

.slide {
  background-color: rgb(156, 156, 156);
  max-height: 500px;
  width: 100%;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

.txt-center {
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  color: rgb(40, 41, 41);
}

.flex-box {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.sub-container {
  padding: 30px;
}

/* card css */

.card-img-top {
  width: 250px;
  height: 250px;
}

.card-title {
  text-transform: capitalize;
}

.pos-bot {
  position: absolute;
  bottom: 20px;
  color: rgb(92, 179, 6)
}

.card-container {
  position: relative;
  width: 250px;
  height: 250px;
  gap: 1rem;
  justify-content: stretch;
  text-decoration: none;
  color: black !important;
  border: 2px solid transparent;
  overflow: hidden;
}

.border-b-gray {
  border-bottom: 1px solid rgb(192, 192, 192);

}

.card-container:hover .hover-component {
  display: block;
}

.card-container:hover {
  cursor: pointer;
}

.hover-component {
  padding: 30px;
  font-size: 0.8rem;
  display: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);

}

.main-txt-color {
  color: var(--main-color)
}

/* @media screen and() {
  
} */


/* series page  */
.series-container {
  max-width: 900px;
  /* margin-top: 40px; */
  margin: 40px auto;
  padding: 40px;
  background-color: #fff;
}

.flex-col-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.episodes-container {
  margin-top: 40px;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.episode {
  width: 100%;
  text-decoration: none;
  color: black;
  cursor: pointer;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(223, 220, 220);
}

.mr-5 {
  margin: 5px;
}


.pdf-document {
  display: flex;
  flex-wrap: wrap;
}

.pdf-page {
  /* width: 100px;
  height: 100px; */
  margin: 0 10px;
  box-shadow: 10px green;
  border: 1px solid red;
}

/* user account page */
.user-account-nav {
  background-color: rgb(243, 242, 242);
}

.user-account-nav ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  justify-content: center;
}

.user-account-nav ul li {
  height: 100%;
  display: inline-block;
}

.user-account-nav ul li a {
  padding: 10px 20px;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s all;
}

.user-account-nav ul li a:hover {
  background-color: rgba(219, 215, 215, 0.377);
  color: var(--main-color) !important;
}

.height-100vh {
  height: 100vh;
}

/* review section styling  */

.gap-1 {
  gap: 1
}

.series-icon {
  font-size: 1.3rem;
  color: var(--main-color)
}

.review-container {
  background-color: #fff;
}

/* subscribe page */
@media only screen and (max-width: 430px) {
  .episode {
    padding: 10px;
    justify-content: center;
  }
}

.subscribes-container {
  padding: 30px 10px;
  max-width: 1150px;
  margin: auto;
}

.page-heading div {
  padding: 10px;
  max-width: 1150px;
  margin: auto;
}

.page-heading {
  text-transform: uppercase;
  font-size: 2rem;
  background-color: #fff;
  font-weight: 500;
  color: var(--main-color)
}

.js-space-bet {
  justify-content: space-between;
  align-items: center;
}

.label-checked {
  border: 2px solid red !important;
}

.re-selected {

  border: 1px solid red !important;
  opacity: 0.7
}

.dis-none {
  display: "none"
}

.card-inp,
.review-check {
  position: absolute;
  right: 10px;
  bottom: 10px;
  zoom: 2;
  z-index: 40;
  background-color: #23f734 !important;
  accent-color: red;

}

.sub {

  justify-content: start;
  align-items: center;
}

.color-gray {
  color: gray;
}

@media only screen and (max-width: 570px) {
  .sub {

    justify-content: center;
    align-items: center;
  }
}

.re-label {
  position: relative;
}

.link-style {
  text-decoration: none;
  color: gray;
}

.link-style:hover {
  color: gray;
}

.select-box {
  max-width: 300px;
  font-size: 1rem;
  padding: 10px 20px;
}


/* popular page */
.category {
  font-family: var(--font1);
  font-size: bold;
  font-size: 15px;
}

.first {
  position: static;
}

.popular-hover:hover {
  background-color: rgb(24, 243, 101) !important;
}

.name {
  font-size: 27px;
  font-family: var(--font1);
}

.author {
  font-family: var(--font1);
  font-size: 14px;
  margin-top: -4px !important;
}

.summary {
  font-size: 14px;
  line-height: 22px;
  margin-top: 17px !important;
}

#new {
  background-color: black;
  display: inline;
  color: rgb(60, 216, 60);
  font-family: 'Tilt Neon', cursive;
  font-weight: bold;
  font-size: 10px;
  padding: 9px 5px !important;
  border-radius: 50px;
}

.photo {
  width: 100px !important;
  /* height: 13vh; */
  position: relative;
}

.photo img {
  height: 100%;
  width: 100%;
}

.new {
  position: absolute;
  top: 0;
}

.num {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 18px;
  font-family: var(--font1);
  font-weight: bold;
}

.b-border-gray {
  border-bottom: 1px solid #BBBBBB;
}

#coll-right a,
#coll-left {
  text-decoration: none;
  color: inherit;
}

#coll-right a:hover {
  background-color: rgb(24, 230, 41);
  color: white
}

.disabled-link {
  pointer-events: none;
  opacity: 0.6;
}

.page-search {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid gray;
}

#first img {
  width: 300px;
  max-width: 400px;
  margin: auto
}

/* About us page */
/* #about {
  width: 70%;
} */
#about a {
  word-wrap: break-word;
}

#about h1 {
  font-family: var(--poppins);
  font-weight: bolder;
  font-size: 50px;
}

#about p {
  line-height: 1.76;
  font-size: 17px;
  font-family: var(--font1);
  margin-bottom: 72px !important;
}

#about h3 {
  font-size: 24px;
  font-family: var(--poppins);
  font-weight: bold;
}

.manage-series-box .img-container img {
  width: auto;
}

.footer-links {
  list-style: none;
}

.footer-links li a {
  text-decoration: none;
  color: black
}