.table-img {
    width: 100px;

}

.table-heading {
    color: white;
    background-color: var(--main-color);
}

.min-height-680 {
    min-height: 680px;
}

.series-table td {
    vertical-align: middle;
}

.table {
    min-width: 680px;
}

.table td,
th {
    text-align: center;
}

/* manage series */
.manage-series-box {
    background-color: #fff;
}

.edit-icons {
    font-size: "2rem";
    background-color: "#e7e2e2a8";
    padding: "5px";
    color: "black",

}

.removed-ep {
    background-color: #fde2e2 !important;
}