.logo {
    width: 77px;
    background-color: transparent;
}

nav {
    border-bottom: 1px solid rgb(194, 193, 193);
}


nav li a {
    text-decoration: none;
    color: black !important;
    text-transform: uppercase;
    font-weight: 500;
}

nav button a {
    color: var(--main-color);
}

nav button :hover {
    color: white !important;
}

nav .active {
    color: var(--main-color) !important;
}

.login-btn {
    height: 38px;
    text-decoration: none;
    /* vertical-align: middle; */
    color: var(--main-color);
    border: 1px solid var(--main-color);
    margin-right: 7px;
    border-radius: 10px;
    padding: 5px 15px;
    display: inline;
}

.login-btn:hover {
    background-color: var(--main-color);
    color: white !important;
}

.search-box-header {
    width: auto;
}

.search-box-header:focus {
    width: 300px;
}

/* .search-container {
    width: 300px;
} */

.search-box-header:focus+.searched-series {
    width: 300px;
    display: block;

}

.searched-series {

    position: relative;
    display: none;

}

.p-ab {
    background-color: white;
    padding: 10px;
    width: 300px;
    position: absolute;
    border: 1px solid gray;
    z-index: 33;
    font-size: 0.9rem;
}

.img-container img {
    width: 60px
}

.searced-item {
    text-decoration: none;
    color: gray;
    border-bottom: 1px solid rgb(199, 197, 197);
    padding: 10px 10px;
}

@media screen and (max-width:1000px) {
    .form-control {
        margin-top: 10px;
    }

}